CREATE TABLE Student (
    ID       INTEGER NOT NULL
                     PRIMARY KEY AUTOINCREMENT,
    LAST     TEXT    NOT NULL,
    FIRST    TEXT    NOT NULL,
    LAST_EN  TEXT    NOT NULL,
    FIRST_EN TEXT    NOT NULL
);

CREATE TABLE Exam (
    ID   INTEGER PRIMARY KEY AUTOINCREMENT
                 NOT NULL,
    NAME TEXT    NOT NULL
);

CREATE TABLE Assignment (
    ID      INTEGER PRIMARY KEY AUTOINCREMENT
                    NOT NULL,
    STU_ID  INTEGER REFERENCES Student (ID) ON DELETE CASCADE,
    EXAM_ID INTEGER REFERENCES Exam (ID) ON DELETE CASCADE
);
